
body{
background-color: rgb(255, 255, 255);
font-size: 14px;
margin: auto;
padding: 5px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


header{
color: rgb(255, 255, 255);
background-color: rgb(0, 0, 0);
font-size: 20px;
text-decoration: dotted;
padding: lem;


}

nav{
background-color: white(233, 225, 74);
padding: 0.5em;



}

nav ul {
list-style-type: none;
padding: 0;
margin: 0;


}
.top-menu li {
    display: inline-block;
    margin-right: 20px;
}

.top-menu a {
    text-decoration: none;
    color: rgb(53, 56, 198);
    font-weight: bold;

}

.top-menu a:hover {
    color: black;

}

h1 {
    font-family: "Your Font", sans-serif; 
    color: #ffffff; 
    outline: rgb(7, 97, 31);
    outline-width: 1px;
    margin-bottom: 20px; 
}

p{

}

img {
    max-width: 100%; 
    height: auto; 
    border: 2px solid #333; 
}

section{


}

footer{
background-color: black(7, 97, 31);
color: white(244, 244, 244);
padding: 20px;
text-align: center;


}

.h2spe{
    background-color: rgb(147, 150, 149);
    color: rgb(1, 1, 2);


}
h1 {
    font-family: "Your Font", sans-serif; 
    color: #ffffff; 
    outline: rgb(7, 97, 31);
    outline-width: 1px;
    margin-bottom: 20px; 
}

a {
    color: blue; 
    text-decoration: none; 
}

a:hover {
    color: red; 
}

/*a:visited {
    color: red; 
}
*/

